<!DOCTYPE html>
<html>
<head>
    <title>Academiacs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <nav>
            <a href="/about">About Us</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </nav>
        <h1><a href="/">Academicas</a></h1>
        <p>A Collaborative Study App for Students</p>
    </header>
    <main>
        <section id="app-description">
            <h2>About Academicas</h2>
            <p>Your go-to platform for collaborative learning and efficient studying. Join our community of students to create, share, and take quizzes, discuss subjects, and enhance your academic journey.</p>
        </section>  
    </main>
</body>
</html>
